/* Location Marker */

.windtemple_png {}

.watertemple_png {}

.shrine_png {}

.dispenser_png {
  background-color: #247266;
  border-radius: 100%;
}

.relief_png {}

.general_png {}

.battery_png {
  background-color: black;
  border-radius: 8px;
}

.cave_png {}

.start_png {}

.pot_png {}

.statue_png {}

.square_png {}

.treasure_png {}

.sageswill_png {}

.oldmap_png{}

.treasurearmor_png {}